{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0">API Manager</h4>

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Resource Management</a>
                                </li>
                                <li class="breadcrumb-item active">API</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end page title -->

            <!-- <div class="alert alert-danger" role="alert">
                This is <strong>Datatable</strong> page in wihch we have used <b>jQuery</b> with cnd link!
            </div> -->


            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                            <h5 class="card-title mb-0">API List</h5>
                            {% if mtype == "success" %}
                            <div class="alert alert-success" role="alert">
                                {{message}}
                              </div>
                            {% elif mtype == "failed" %}
                            <div class="alert alert-danger" role="alert">
                                {{message}}
                              </div>
                            {% endif %}
                            
                            <button class="btn btn-primary " type="button" data-bs-toggle="modal" data-bs-target="#add_API" id="btn-new-event"><i class="mdi mdi-plus"></i> Add</button>
                        </div>
                        
                        <div class="card-body">
                            <table id="buttons-datatables" class="display table table-bordered"
                                style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Product Name</th>
                                        <th>Sort Name</th>
                                        <th>URL</th>
                                        <th>Status</th>
                                        <th>API Key</th>
                                        <!-- <th>Username</th>
                                        <th>Password</th> -->
                                        <th>Optional</th>
                                        <th>Code</th>
                                        <th>Type</th>
                                        <th>Created At</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in data %}
                                    <tr id="2">
                                        <td>{{ item.id }}</td>
                                        <td>{{ item.product_name }}</td>
                                        <td>{{ item.sort_name }}</td>   
                                        <td>{{ item.url }}</td>   
                                        <td>{{ item.status }}</td>   
                                        <td>{{ item.api_key }}</td>   
                                        <!-- <td>{{ item.username }}</td>   
                                        <td>{{ item.password }}</td>    -->
                                        <td>{{ item.optional }}</td>   
                                        <td>{{ item.code }}</td>   
                                        <td>{{ item.status }}</td>
                                        <td>{{ item.created_at }}</td>
                                        <td><a href="#" data-bs-toggle="modal" data-bs-target="#update_API" id="btn-new-event"><i class="bx bx-edit-alt"></i></a> || <a href="" data-bs-toggle="modal" data-bs-target="#delete_API" data-catid=`{{ item.id }}` id="btn-new-event"><i class="bx bx-trash"></i></a> || <a href=""><i class=" bx bx-list-ul"></i></a></td>
                                    </tr>
                                    {% endfor %}
                                    
                            </table>
                        </div>
                    </div>
                </div>
            </div><!--end row-->



        </div>
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->

    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <script>document.write(new Date().getFullYear())</script> © Paynims.
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end d-none d-sm-block">
                        Design & Develop by Rakle IT Solutions
                    </div>
                </div>
            </div>
        </div>
    </footer> 
    <!-- Static Backdrop -->

<!-- staticBackdrop Modal -->
<div class="modal fade" id="add_API" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="row g-3 needs-validation" novalidate method="post">
                {% csrf_token %}
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Add API Credentials</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"> </button>
            </div>
            <div class="modal-body">
                
                    <div class="row">
                        <div class="col-md-6">
                            <label for="validationCustom01" class="form-label">Product name</label>
                            <input type="text" class="form-control" id="validationCustom01"  required name="product_name">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="validationCustom02" class="form-label">Sort Name</label>
                            <input type="text" class="form-control" id="validationCustom02"  required name="sort_name">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="validationCustom02" class="form-label">URL</label>
                            <input type="text" class="form-control" id="validationCustom02"  required name="url">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="validationCustom02" class="form-label">API Key</label>
                            <input type="text" class="form-control" id="validationCustom02"  required name="api_key">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="validationCustom02" class="form-label">User Name</label>
                            <input type="text" class="form-control" id="validationCustom02"  required name="username">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="validationCustom02" class="form-label">Password</label>
                            <input type="text" class="form-control" id="validationCustom02"  required name="password">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="validationCustom02" class="form-label">optional</label>
                            <input type="text" class="form-control" id="validationCustom02"  required name="optional">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="validationCustom02" class="form-label">Code</label>
                            <input type="text" class="form-control" id="validationCustom02"  required name="code">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                    </div>
                    
                   <br>
                   <div class="row">
                    <div class="col-md-6">
                        <label for="validationCustom02" class="form-label">Type</label>
                        <input type="text" class="form-control" id="validationCustom02"  required name="type">
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    
                    <div class="col-md-6">
                        <label for="validationCustom04" class="form-label">Status</label>
                        <select class="form-select" id="validationCustom04" required name="status">
                            <option selected disabled value="">Choose...</option>
                            <option value="True">Active</option>
                            <option value="False">Inactive</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid Status.
                        </div>
                    </div>
                   </div>
                   
                   
                    {% comment %} <div class="col-12">
                        <button class="btn btn-primary" type="submit">Submit form</button>
                    </div> {% endcomment %}
                
                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary ">Save Changes</button>
            </div>
        </form>

        </div><!-- /.modal-content -->
    </div>
</div>
<div class="modal fade" id="update_API" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="row g-3 needs-validation" novalidate method="post">
                {% csrf_token %}
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Update API</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"> </button>
            </div>
            <div class="modal-body">
                
                    <div class="col-md-12">
                        <label for="validationCustom01" class="form-label">API name</label>
                        <input type="text" class="form-control" id="validationCustom01"  required name="API_name">
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label for="validationCustom02" class="form-label">API Type</label>
                        <input type="text" class="form-control" id="validationCustom02"  required name="API_type">
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    
                    <div class="col-md-12">
                        <label for="validationCustom04" class="form-label">Status</label>
                        <select class="form-select" id="validationCustom04" required name="API_status">
                            <option selected disabled value="">Choose...</option>
                            <option value="True">Active</option>
                            <option value="False">Inactive</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid Status.
                        </div>
                    </div>
                   
                   
                    {% comment %} <div class="col-12">
                        <button class="btn btn-primary" type="submit">Submit form</button>
                    </div> {% endcomment %}
                
                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary ">Save Changes</button>
            </div>
        </form>

        </div><!-- /.modal-content -->
    </div>
</div>

<div class="modal fade" id="delete_API" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Delete API</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"> </button>
            </div>
            <div class="modal-body">
                <h4>Are you sure ? you want to delete</h4>
                  
                
                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                <button type="button" id="deletebtn" class="btn btn-primary ">Delete</button>
            </div>
       

        </div><!-- /.modal-content -->
    </div>
</div>
</div>
<script>

$("#delete_API").on('click',function(){
    alert($(this).closest('tr').attr('id'));
});
$(document).on('click','#delete_API', function(e) { 
    console.log("inside ");
        // debugger;// when the delete modal opens
    var imageId = $(e.relatedTarget).data('catid'); // get the image id
    console.log(imageId);
    $(document).on('click', '#deletebtn', function (e) {
    
        $.ajax({
            type: 'DELETE',
            url: `delete_API/${imageId}/`,
            success: function (rsp) {
                // debugger;
                $("#delete-modal").modal('hide');
                BindStudents();
                swal("Success!", "Main Service Deleted Successfully!", "success");
            },
            error: function (xhr, errmsg, err) {
                $("#delete-model").modal('hide');
                swal("Failed!", "Something went wrong!", "error");
                console.log(xhr.status + ":" + xhr.responseText)
            }
        })
    });

});
    </script>
{% endblock %}



