{% extends 'base.html' %} 
{% load static %} 
{% block content %}
<div class="main-content">
  <div class="page-content">
    <div class="container-fluid">
      <!-- start page title -->
      <!-- start page title -->
      <div class="row">
        <div class="col-12">
          <div
            class="page-title-box d-sm-flex align-items-center justify-content-between"
          >
            <h4 class="mb-sm-0">Dashboard</h4>

            <div class="page-title-right">
              <ol class="breadcrumb m-0">
                <li class="breadcrumb-item">
                  <a href="javascript: void(0);">Base UI</a>
                </li>
                <li class="breadcrumb-item active">Dashboard</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <!-- end page title -->
      <div class="row">
        <div class="col-9">
          <div class="col-12 d-flex">
            <a href="https://paynims.tech/login/dmt">
            <div
              class="col-xl-2 col-xxl-3 col-lg-6 col-md-4 col-sm-6 mx-2"
              style="width: 11rem"
            >
              <a href="https://paynims.tech/login/dmt"> </a>
              <div
                class="card text-center border border-danger box"
                style="
                  box-shadow: -1px 10px 5px 0px rgba(255, 255, 255, 0.75);
                  -webkit-box-shadow: -1px 10px 5px 0px
                    rgba(255, 255, 255, 0.75);
                  -moz-box-shadow: -1px 10px 5px 0px rgba(255, 255, 255, 0.75);
                "
              >
                <a href="https://paynims.tech/login/dmt"> </a>
                <div class="card-body">
                  <a href="https://paynims.tech/login/dmt">
                    <img
                      src="https://paynims.tech/login/assets/images/services/Money Transfer.png"
                      style="width: 80px; height: 80px"
                    />
                  </a>
                  <h6 class="font-w600 fs-16 mb-1">
                    <a href="https://paynims.tech/login/dmt"></a
                    ><a
                      href="https://paynims.tech/login/dmt"
                      class="text-primary"
                      >Money Transfer</a
                    >
                  </h6>
                </div>
              </div>
            </div>
        </a>
        <a href="#">
            <div
              class="col-xl-2 col-xxl-3 col-lg-3 col-md-4 col-sm-6 mx-2"
              style="width: 11rem"
            >
              <a href="https://paynims.tech/login/dmt"> </a>
              <div
                class="card text-center border border-danger box"
                style="
                  box-shadow: -1px 10px 5px 0px rgba(255, 255, 255, 0.75);
                  -webkit-box-shadow: -1px 10px 5px 0px
                    rgba(255, 255, 255, 0.75);
                  -moz-box-shadow: -1px 10px 5px 0px rgba(255, 255, 255, 0.75);
                "
              >
                <a href="https://paynims.tech/login/dmt"> </a>
                <div class="card-body">
                  <a href="https://paynims.tech/login/dmt">
                    <img
                      src="https://paynims.tech/login/assets/images/services/AePS.png"
                      style="width: 80px; height: 80px"
                    />
                  </a>
                  <h6 class="font-w600 fs-16 mb-1">
                    <a href="https://paynims.tech/login/dmt"></a
                    ><a
                      href="https://paynims.tech/login/dmt"
                      class="text-primary"
                      >AEPS</a
                    >
                  </h6>
                </div>
              </div>
            </div>
        </a>
            <div
              class="col-xl-2 col-xxl-3 col-lg-3 col-md-4 col-sm-6 mx-2"
              style="width: 11rem"
            >
              <a href="https://paynims.tech/login/dmt"> </a>
              <div
                class="card text-center border border-danger box"
                style="
                  box-shadow: -1px 10px 5px 0px rgba(255, 255, 255, 0.75);
                  -webkit-box-shadow: -1px 10px 5px 0px
                    rgba(255, 255, 255, 0.75);
                  -moz-box-shadow: -1px 10px 5px 0px rgba(255, 255, 255, 0.75);
                "
              >
                <a href="https://paynims.tech/login/dmt"> </a>
                <div class="card-body">
                  <a href="https://paynims.tech/login/dmt">
                    <img
                      src="https://paynims.tech/login/assets/images/services/FAePS.png"
                      style="width: 80px; height: 80px"
                    />
                  </a>
                  <h6 class="font-w600 fs-16 mb-1">
                    <a href="https://paynims.tech/login/dmt"></a
                    ><a
                      href="https://paynims.tech/login/dmt"
                      class="text-primary"
                      >AdharPay</a
                    >
                  </h6>
                </div>
              </div>
            </div>
            <div
              class="col-xl-2 col-xxl-3 col-lg-3 col-md-4 col-sm-6 mx-2"
              style="width: 11rem"
            >
              <a href="https://paynims.tech/login/dmt"> </a>
              <div
                class="card text-center border border-danger box"
                style="
                  box-shadow: -1px 10px 5px 0px rgba(255, 255, 255, 0.75);
                  -webkit-box-shadow: -1px 10px 5px 0px
                    rgba(255, 255, 255, 0.75);
                  -moz-box-shadow: -1px 10px 5px 0px rgba(255, 255, 255, 0.75);
                "
              >
                <a href="https://paynims.tech/login/dmt"> </a>
                <div class="card-body">
                  <a href="https://paynims.tech/login/dmt">
                    <img
                      src="https://paynims.tech/login/assets/images/services/mATM.png"
                      style="width: 80px; height: 80px"
                    />
                  </a>
                  <h6 class="font-w600 fs-16 mb-1">
                    <a href="https://paynims.tech/login/dmt"></a
                    ><a
                      href="https://paynims.tech/login/dmt"
                      class="text-primary"
                      >Micro ATM</a
                    >
                  </h6>
                </div>
              </div>
            </div>
            
          </div>
          <div class="col-12 d-flex">
            <a href="https://paynims.tech/login/dmt">
            <div
              class="col-xl-2 col-xxl-3 col-lg-6 col-md-4 col-sm-6 mx-2"
              style="width: 11rem"
            >
              <a href="https://paynims.tech/login/dmt"> </a>
              <div
                class="card text-center border border-danger box"
                style="
                  box-shadow: -1px 10px 5px 0px rgba(255, 255, 255, 0.75);
                  -webkit-box-shadow: -1px 10px 5px 0px
                    rgba(255, 255, 255, 0.75);
                  -moz-box-shadow: -1px 10px 5px 0px rgba(255, 255, 255, 0.75);
                "
              >
                <a href="https://paynims.tech/login/dmt"> </a>
                <div class="card-body">
                  <a href="https://paynims.tech/login/dmt">
                    <img
                      src="https://paynims.tech/login/assets/images/services/Mobile%20Recharge.png"
                      style="width: 80px; height: 80px"
                    />
                  </a>
                  <h6 class="font-w600 fs-14 mb-1">
                    <a href="https://paynims.tech/login/dmt"></a
                    ><a
                      href="https://paynims.tech/login/dmt"
                      class="text-primary"
                      >Prepaid Recharge</a
                    >
                  </h6>
                </div>
              </div>
            
            </div>
        </a>
            <div
              class="col-xl-2 col-xxl-3 col-lg-3 col-md-4 col-sm-6 mx-2"
              style="width: 11rem"
            >
              <a href="https://paynims.tech/login/dmt"> </a>
              <div
                class="card text-center border border-danger box"
                style="
                  box-shadow: -1px 10px 5px 0px rgba(255, 255, 255, 0.75);
                  -webkit-box-shadow: -1px 10px 5px 0px
                    rgba(255, 255, 255, 0.75);
                  -moz-box-shadow: -1px 10px 5px 0px rgba(255, 255, 255, 0.75);
                "
              >
                <a href="https://paynims.tech/login/dmt"> </a>
                <div class="card-body">
                  <a href="https://paynims.tech/login/dmt">
                    <img
                      src="https://paynims.tech/login/assets/images/services/Mobile%20Recharge.png"
                      style="width: 80px; height: 80px"
                    />
                  </a>
                  <h6 class="font-w600 fs-14 mb-1">
                    <a href="https://paynims.tech/login/dmt"></a
                    ><a
                      href="https://paynims.tech/login/dmt"
                      class="text-primary"
                      >PostPaid <span>Recharge</span></a
                    >
                  </h6>
                </div>
              </div>
            </div>

            <div
              class="col-xl-2 col-xxl-3 col-lg-3 col-md-4 col-sm-6 mx-2"
              style="width: 11rem"
            >
              <a href="https://paynims.tech/login/dmt"> </a>
              <div
                class="card text-center border border-danger box"
                style="
                  box-shadow: -1px 10px 5px 0px rgba(255, 255, 255, 0.75);
                  -webkit-box-shadow: -1px 10px 5px 0px
                    rgba(255, 255, 255, 0.75);
                  -moz-box-shadow: -1px 10px 5px 0px rgba(255, 255, 255, 0.75);
                "
              >
                <a href="https://paynims.tech/login/dmt"> </a>
                <div class="card-body">
                  <a href="https://paynims.tech/login/dmt">
                    <img
                      src="https://paynims.tech/login/assets/images/services/DTH%20Rech.png"
                      style="width: 80px; height: 80px"
                    />
                  </a>
                  <h6 class="font-w600 fs-16 mb-1">
                    <a href="https://paynims.tech/login/dmt"></a
                    ><a
                      href="https://paynims.tech/login/dmt"
                      class="text-primary"
                      >Dth Recharge</a
                    >
                  </h6>
                </div>
              </div>
            </div>
            <div
              class="col-xl-2 col-xxl-3 col-lg-3 col-md-4 col-sm-6 mx-2"
              style="width: 11rem"
            >
              <a href="https://paynims.tech/login/dmt"> </a>
              <div
                class="card text-center border border-danger box"
                style="
                  box-shadow: -1px 10px 5px 0px rgba(255, 255, 255, 0.75);
                  -webkit-box-shadow: -1px 10px 5px 0px
                    rgba(255, 255, 255, 0.75);
                  -moz-box-shadow: -1px 10px 5px 0px rgba(255, 255, 255, 0.75);
                "
              >
                <a href="https://paynims.tech/login/dmt"> </a>
                <div class="card-body">
                  <a href="https://paynims.tech/login/dmt">
                    <img
                      src="https://paynims.tech/login/assets/images/services/Fastag%20Recharge.png"
                      style="width: 80px; height: 80px"
                    />
                  </a>
                  <h6 class="font-w600 fs-16 mb-1">
                    <a href="https://paynims.tech/login/dmt"></a
                    ><a
                      href="https://paynims.tech/login/dmt"
                      class="text-primary"
                      >Fast Tag</a
                    >
                  </h6>
                </div>
              </div>
            </div>
            
          </div>
          <div class="col-12 d-flex">
            <div
              class="col-xl-2 col-xxl-3 col-lg-6 col-md-4 col-sm-6 mx-2"
              style="width: 11rem"
            >
              <a href="https://paynims.tech/login/dmt"> </a>
              <div
                class="card text-center border border-danger box"
                style="
                  box-shadow: -1px 10px 5px 0px rgba(255, 255, 255, 0.75);
                  -webkit-box-shadow: -1px 10px 5px 0px
                    rgba(255, 255, 255, 0.75);
                  -moz-box-shadow: -1px 10px 5px 0px rgba(255, 255, 255, 0.75);
                "
              >
                <a href="https://paynims.tech/login/dmt"> </a>
                <div class="card-body">
                  <a href="https://paynims.tech/login/dmt">
                    <img
                      src="https://paynims.tech/login/assets/images/services/Electricity%20Bill.png"
                      style="width: 80px; height: 80px"
                    />
                  </a>
                  <h6 class="font-w600 fs-16 mb-1">
                    <a href="https://paynims.tech/login/dmt"></a
                    ><a
                      href="https://paynims.tech/login/dmt"
                      class="text-primary"
                      >Money Transfer</a
                    >
                  </h6>
                </div>
              </div>
            </div>

            <div
              class="col-xl-2 col-xxl-3 col-lg-3 col-md-4 col-sm-6 mx-2"
              style="width: 11rem"
            >
              <a href="https://paynims.tech/login/dmt"> </a>
              <div
                class="card text-center border border-danger box"
                style="
                  box-shadow: -1px 10px 5px 0px rgba(255, 255, 255, 0.75);
                  -webkit-box-shadow: -1px 10px 5px 0px
                    rgba(255, 255, 255, 0.75);
                  -moz-box-shadow: -1px 10px 5px 0px rgba(255, 255, 255, 0.75);
                "
              >
                <a href="https://paynims.tech/login/dmt"> </a>
                <div class="card-body">
                  <a href="https://paynims.tech/login/dmt">
                    <img
                      src="https://paynims.tech/login/assets/images/services/Water%20Bill.png"
                      style="width: 80px; height: 80px"
                    />
                  </a>
                  <h6 class="font-w600 fs-16 mb-1">
                    <a href="https://paynims.tech/login/dmt"></a
                    ><a
                      href="https://paynims.tech/login/dmt"
                      class="text-primary"
                      >AEPS</a
                    >
                  </h6>
                </div>
              </div>
            </div>

            <div
              class="col-xl-2 col-xxl-3 col-lg-3 col-md-4 col-sm-6 mx-2"
              style="width: 11rem"
            >
              <a href="https://paynims.tech/login/dmt"> </a>
              <div
                class="card text-center border border-danger box"
                style="
                  box-shadow: -1px 10px 5px 0px rgba(255, 255, 255, 0.75);
                  -webkit-box-shadow: -1px 10px 5px 0px
                    rgba(255, 255, 255, 0.75);
                  -moz-box-shadow: -1px 10px 5px 0px rgba(255, 255, 255, 0.75);
                "
              >
                <a href="https://paynims.tech/login/dmt"> </a>
                <div class="card-body">
                  <a href="https://paynims.tech/login/dmt">
                    <img
                      src="https://paynims.tech/login/assets/images/services/Broadband.png"
                      style="width: 80px; height: 80px"
                    />
                  </a>
                  <h6 class="font-w600 fs-16 mb-1">
                    <a href="https://paynims.tech/login/dmt"></a
                    ><a
                      href="https://paynims.tech/login/dmt"
                      class="text-primary"
                      >AdharPay</a
                    >
                  </h6>
                </div>
              </div>
            </div>
            <div
              class="col-xl-2 col-xxl-3 col-lg-3 col-md-4 col-sm-6 mx-2"
              style="width: 11rem"
            >
              <a href="https://paynims.tech/login/dmt"> </a>
              <div
                class="card text-center border border-danger box"
                style="
                  box-shadow: -1px 10px 5px 0px rgba(255, 255, 255, 0.75);
                  -webkit-box-shadow: -1px 10px 5px 0px
                    rgba(255, 255, 255, 0.75);
                  -moz-box-shadow: -1px 10px 5px 0px rgba(255, 255, 255, 0.75);
                "
              >
                <a href="https://paynims.tech/login/dmt"> </a>
                <div class="card-body">
                  <a href="https://paynims.tech/login/dmt">
                    <img
                      src="https://paynims.tech/login/assets/images/services/Gas%20Cylender.png"
                      style="width: 80px; height: 80px"
                    />
                  </a>
                  <h6 class="font-w600 fs-16 mb-1">
                    <a href="https://paynims.tech/login/dmt"></a
                    ><a
                      href="https://paynims.tech/login/dmt"
                      class="text-primary"
                      >Micro ATM</a
                    >
                  </h6>
                </div>
              </div>
            </div>
            
          </div>
          <div class="col-12 d-flex">
            <div
              class="col-xl-2 col-xxl-3 col-lg-6 col-md-4 col-sm-6 mx-2"
              style="width: 11rem"
            >
              <a href="https://paynims.tech/login/dmt"> </a>
              <div
                class="card text-center border border-danger box"
                style="
                  box-shadow: -1px 10px 5px 0px rgba(255, 255, 255, 0.75);
                  -webkit-box-shadow: -1px 10px 5px 0px
                    rgba(255, 255, 255, 0.75);
                  -moz-box-shadow: -1px 10px 5px 0px rgba(255, 255, 255, 0.75);
                "
              >
                <a href="https://paynims.tech/login/dmt"> </a>
                <div class="card-body">
                  <a href="https://paynims.tech/login/dmt">
                    <img
                      src="https://paynims.tech/login/assets/images/services/id%20card.png"
                      style="width: 80px; height: 80px"
                    />
                  </a>
                  <h6 class="font-w600 fs-16 mb-1">
                    <a href="https://paynims.tech/login/dmt"></a
                    ><a
                      href="https://paynims.tech/login/dmt"
                      class="text-primary"
                      >QR-Code</a
                    >
                  </h6>
                </div>
              </div>
            </div>

            <div
              class="col-xl-2 col-xxl-3 col-lg-3 col-md-4 col-sm-6 mx-2"
              style="width: 11rem"
            >
              <a href="https://paynims.tech/login/dmt"> </a>
              <div
                class="card text-center border border-danger box"
                style="
                  box-shadow: -1px 10px 5px 0px rgba(255, 255, 255, 0.75);
                  -webkit-box-shadow: -1px 10px 5px 0px
                    rgba(255, 255, 255, 0.75);
                  -moz-box-shadow: -1px 10px 5px 0px rgba(255, 255, 255, 0.75);
                "
              >
                <a href="https://paynims.tech/login/dmt"> </a>
                <div class="card-body">
                  <a href="https://paynims.tech/login/dmt">
                    <img
                      src="https://paynims.tech/login/assets/images/services/life%20insurance.png"
                      style="width: 80px; height: 80px"
                    />
                  </a>
                  <h6 class="font-w600 fs-16 mb-1">
                    <a href="https://paynims.tech/login/dmt"></a
                    ><a
                      href="https://paynims.tech/login/dmt"
                      class="text-primary"
                      >Insurance</a
                    >
                  </h6>
                </div>
              </div>
            </div>

            <div
              class="col-xl-2 col-xxl-3 col-lg-3 col-md-4 col-sm-6 mx-2"
              style="width: 11rem"
            >
              <a href="https://paynims.tech/login/dmt"> </a>
              <div
                class="card text-center border border-danger box"
                style="
                  box-shadow: -1px 10px 5px 0px rgba(255, 255, 255, 0.75);
                  -webkit-box-shadow: -1px 10px 5px 0px
                    rgba(255, 255, 255, 0.75);
                  -moz-box-shadow: -1px 10px 5px 0px rgba(255, 255, 255, 0.75);
                "
              >
                <a href="https://paynims.tech/login/dmt"> </a>
                <div class="card-body">
                  <a href="https://paynims.tech/login/dmt">
                    <img
                      src="https://paynims.tech/login/assets/images/services/life%20insurance.png"
                      style="width: 80px; height: 80px"
                    />
                  </a>
                  <h6 class="font-w600 fs-14 mb-1">
                    <a href="https://paynims.tech/login/dmt"></a
                    ><a
                      href="https://paynims.tech/login/dmt"
                      class="text-primary"
                      >General Insurance</a
                    >
                  </h6>
                </div>
              </div>
            </div>
            <div
              class="col-xl-2 col-xxl-3 col-lg-3 col-md-4 col-sm-6 mx-2"
              style="width: 11rem"
            >
              <a href="https://paynims.tech/login/dmt"> </a>
              <div
                class="card text-center border border-danger box"
                style="
                  box-shadow: -1px 10px 5px 0px rgba(255, 255, 255, 0.75);
                  -webkit-box-shadow: -1px 10px 5px 0px
                    rgba(255, 255, 255, 0.75);
                  -moz-box-shadow: -1px 10px 5px 0px rgba(255, 255, 255, 0.75);
                "
              >
                <a href="https://paynims.tech/login/dmt"> </a>
                <div class="card-body">
                  <a href="https://paynims.tech/login/dmt">
                    <img
                      src="https://paynims.tech/login/assets/images/services/QR%20Code.png"
                      style="width: 80px; height: 80px"
                    />
                  </a>
                  <h6 class="font-w600 fs-16 mb-1">
                    <a href="https://paynims.tech/login/dmt"></a
                    ><a
                      href="https://paynims.tech/login/dmt"
                      class="text-primary"
                      >QR-Code</a
                    >
                  </h6>
                </div>
              </div>
            </div>
            
          </div>
        </div>

        <div class="col-3">
          <div class="col-12 col-xl-12 mx-2 ">
            <div class="content-group">
                <div class="panel-body bg-teal-300 border-radius-top text-center" style="padding: 10px">
                    <div class="content-group-sm design">
                        <img src="https://paynims.tech/login/assets/helpdesk.png" class="img-responsive mb-10" style="margin: auto; width: 200px">
                    </div>

                    <a href="#" class="display-inline-block content-group-sm   ">
                        <img src="https://paynims.tech/login/assets/support.png" class="img-circle img-responsive" alt="" style="width: 80px; height: 80px;">
                    </a>
                    <br/>
                    <span class="display-block"><b class="text-design">Timing - 10 AM to 7 PM</b></span>
                </div>

                <div class="panel panel-body no-border-top no-border-radius-top text-center" style="padding: ">
                    <div class="form-group mt-4 mb-4">
                        <h5 class="text-semibold"><i class="fa fa-phone"></i> Call Us</h5>
                        <span>6391723986/87</span>
                    </div>

                    <div class="form-group  mb-5">
                        <h5 class="text-semibold"><i class="fa fa-envelope"></i>  Email Us:</h5>
                        <span>support@paynims.com</span>
                    </div>
                </div>
            </div>
          </div>
          <!-- end col -->
        </div>
      </div>
      

      
      <!-- end row -->

      <!-- end page title -->

      <!-- <div class="alert alert-danger" role="alert">
                This is <strong>Datatable</strong> page in wihch we have used <b>jQuery</b> with cnd link!
            </div> -->

      <div class="row">
        <div class="col-lg-12"></div>
      </div>
      <!--end row-->
    </div>
    <!-- container-fluid -->
  </div>
  <!-- End Page-content -->

  <footer class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <script>
            document.write(new Date().getFullYear());
          </script>
          © Paynims.
        </div>
        <div class="col-sm-6">
          <div class="text-sm-end d-none d-sm-block">
            Design & Develop by Rakle IT Solutions
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- Static Backdrop -->

  <!-- staticBackdrop Modal -->
</div>
{% endblock %}
